@media only screen and (max-width; 740px){
#wrapper{background: #f77;}
}

@media only screen and (max-width:570px){
#wrapper{background: #7f7;}
}

@media only screen and (max-width:480px){
#wrapper{
max-width:100%
}
h1{
text-align: center;
}
}
